<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expense Tracker WebPage</title>
    <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>
     <nav class="navbar">
        <h1>Expense Tracker</h1>
        <div class="navbar-links">
            <a th:href="@{/dashboard}">Dashboard</a>
            <a href="#">Categories</a>
            <a href="#">Support</a>
            <a href="#">Reports</a>
            <a th:href="@{/expense}">Logout</a>
        </div>
    </nav>
    

    <div class="content container mt-4">
        <div class="heading text-center">
            <h2>Dashboard</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="el:${elist}">
                        <td th:text="${el.id}"></td>
                        <td th:text="${el.amount}"></td>
                        <td th:text="${el.category}"></td>
                        <td th:text="${el.date}"></td>
                        <td th:text="${el.description}"></td>
                        <td>
                            <div class="button-container d-flex gap-2">
                                <form th:action="@{/delete/{id}(id=${el.id})}" method="post">
                                    <button type="submit" class="btn btn-danger">DELETE</button>
                                </form>
                                <form th:action="@{/update/{id}(id=${el.id})}" method="get">
                                    <button type="submit" class="btn btn-primary">UPDATE</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center mt-4">
            <a th:href="@{/add}">
                <button class="btn btn-success">ADD</button>
            </a>
        </div>
    </div>

    <footer class="bg-dark text-light text-center mt-4 py-3">
        <div>Copyright &copy; 2024</div>
    </footer>

    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
