<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Expense Tracker WebPage</title>
<link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/login.css}"></link>
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form action="#" th:action="@{/login}" th:object="${login}" method="post">
            <div class="form-group">
                <input type="email" id="email" placeholder="Email" class="form-control" th:field="*{email}" required>
            </div>

            <div class="form-group">
                <input type="password" id="password" placeholder="Password" class="form-control" th:field="*{password}" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="#" th:href="@{/register}" class="register-link">New to Expense Tracker? Register here</a>
        </form>
    </div>
</body>
</html>
</html>